.landing {
	height: 100dvh;
	overflow: hidden;
	background-image: url("/images/spongemob-landscape.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: top right;
}

.landing {
	display: flex;
	align-items: center;
}

.landing .heading {
	color: white;
	font-size: 85px;
	padding: 10px;
	width: 100%;
	text-align: center;
	background-color: rgba(0, 255, 255, 0.6);
	transition: background-color 1s;
}

.landing .heading:hover {
	background-color: rgba(255, 255, 0, 0.6);
}

.landing .arrow {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 10px;
	color: rgb(0, 255, 255);
	font-size: 80px;
	text-decoration: none;
	transition: color 1s;
}

.landing .arrow:hover {
	color: rgb(255, 255, 0);
}

@media(max-width: 992px) {
	.landing .heading {
		font-size: 70px;
	}

	.landing {

		background-position: center center;
	}
}

@media(max-width: 768px) {
	.landing .heading {
		font-size: 50px;
	}
}

@media(max-width: 480px) {
	.landing {
		background-image: url("/images/spongemob-potrait.jpg");
	}
}

.whoami {
	max-width: 1170px;
	margin: auto;
	background-color: #0d0d0d;
	height: 500px;
	display: flex;
	color: white;
	padding: 15px;
}

.whoami .left {
	position: relative;
	width: 60%;
	padding: 50px;
}

.whoami .heading {
	font-size: 50px;
	margin-bottom: 30px;
}

.whoami .text {
	font-size: 20px;
}

.whoami .bottom {
	position: absolute;
	bottom: 0;
	margin-bottom: 40px;
}

@keyframes change-bg {
	0% {
		background-color: #ddd;
	}

	50% {
		background-color: #fff;
	}

	100% {
		background-color: #ddd;
	}
}

.whoami .right {
	background-color: grey;
	background-image: url("/images/distracted.png");
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 40%;
	animation-name: change-bg;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

.whoami>div {
	transition: transform 1s;
}

.whoami>div:hover {
	transform: scale(1.1);
}

@media(max-width:768px) {

	.whoami .right,
	.whoami .left {
		width: 50%;
	}

	.whoami {
		height: 400px;
	}

	.whoami .heading {
		font-size: 30px;
	}

	.whoami .text {
		font-size: 16px;
	}
}

@media(max-width:480px) {
	.whoami {
		height: 200px;
	}

	.whoami .left {
		padding: 15px;
	}

	.whoami .heading {
		margin-bottom: 0;
		font-size: 20px;
	}

	.whoami .text {
		font-size: 16px;
	}

	.landing .arrow {
		font-size: 40px;
	}
}