* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	display: none;
	/* only for Chrome, Safari, and Opera */
}

body {
	margin: 0px;
	padding: 0px;
	font-size: 32px;
	font-weight: bold;
	background-color: rgba(8, 217, 251, 1);
	background-size: 75vw;
	background-attachment: fixed;
	text-align: center;
}

main {
	min-height: 90vh;
}

header {
	display: flex;
	color: white;
	flex-direction: row;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.95);
	padding: 10px;
	padding-left: 100px;
	padding-right: 100px;
	position: relative;
}

header img {
	margin-right: 20px;
	border-radius: 50%;
	width: 75px;
	transition: 0.5s;
}

header img:hover {
	border-radius: 10px;
}

header nav {
	margin-left: auto;
}

header a {
	text-decoration: none;
	color: white;
	margin-left: 20px;
	transition: 0.5s;
}

header a:hover {
	color: yellow;
}